.overview {
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  &__book-info-wrapper {
  }

  &__book-info-text {
    max-width: 80%;
    white-space: pre-wrap;
  }
}

.book-info-grid {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}

mat-card {
  margin: 10px 0;
  max-height: 550px;
}


img {
  width: 100%;
  max-width: 130px;
  min-width: 110px;
  max-height: 185px;
  margin: 10px 30px 0 10px;
}


button {
  margin: 10px;
  //width: 100%;
}

mat-card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
