<mat-card>
<div class="view__book-info-wrapper">
  <div class="view__book-info-text-wrapper">
    <div class="view__book-info-text">
      <mat-card-title>Название: {{book?.title}}</mat-card-title>
      <mat-card-title>Автор: {{book?.author}}</mat-card-title>
      <mat-card-title>Прочитана: {{book?.read ? 'Да' : 'Hет'}}</mat-card-title>
      <mat-card-title>Избранное: {{book?.favorite ? 'Да' : 'Hет'}}</mat-card-title>
    </div>
    <img  src="{{book?.picture}}" #pic (error)="changePic()" alt="Picture" class="picture">
  </div>
  <mat-card-title>Описание: {{book?.about}}</mat-card-title>
  <iframe class="iframe"
          src="http://www.olehnik.ru/files/literatura/%D0%90.%20%D0%93%D1%80%D0%B8%D0%B1%D0%BE%D0%B5%D0%B4%D0%BE%D0%B2%20%D0%93%D0%BE%D1%80%D0%B5%20%D0%BE%D1%82%20%D1%83%D0%BC%D0%B0%20.pdf" width="468" height="60">
  </iframe>
</div>

</mat-card>
