<div class="overview__wrapper">
  <button mat-raised-button (click)="addNewBook()">
    <mat-icon>note_add</mat-icon>
    Add a new book
  </button>
  <div class="overview__filter-panel">
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="checkScheme(group.value)">
      <mat-button-toggle value="grid" aria-label="Text align left">
        <mat-icon>grid_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Text align center">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="button-wrapper">
      <mat-button-toggle value="favorite" aria-label="Text align center" (click)="favoriteFilter()">
        <label class="card-title">Избранные</label>
        <mat-icon>favorite</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bookmark" aria-label="Text align center" (click)="readFilter()">
        <label class="card-title">Прочитано</label>
        <mat-icon>bookmark</mat-icon>
      </mat-button-toggle>
    </div>
  </div>


  <div class="overview__cards-wrapper" [ngClass]="{'grid': !trigger}">
    <mat-spinner *ngIf="!(books&&books.length)"
                 class="overview__loader-wrapper"></mat-spinner>

    <mat-card *ngFor="let book of books" class="overview__card">
      <app-book [trigger]="trigger"
                [book]="book"
                (onDeleteBook)="deleteBook($event)"
                (onEditBook)="editBook($event)"></app-book>
    </mat-card>
  </div>
</div>
