<div class="overview__wrapper">
  <button mat-raised-button>
    <mat-icon>note_add</mat-icon>
    Add a new book
  </button>

  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="checkScheme(group.value)">
    <mat-button-toggle value="grid" aria-label="Text align left">
      <mat-icon>grid_on</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="list" aria-label="Text align center">
      <mat-icon>view_list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="overview__cards-wrapper" #cardsWrapper>
    <mat-card *ngFor="let book of books">
      <div class="overview__book-info-wrapper" #bookInfoWrapper>
        <div>
          <mat-card-title>{{book.name}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
          <mat-card-subtitle>{{book.about}}</mat-card-subtitle>
        </div>
        <img mat-card-image src="{{book.picture}}" alt="Photo">
      </div>
      <mat-card-actions align="end">
        <button mat-button>View</button>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
